NEXT_PUBLIC_APP_MODE=bank
NEXT_PUBLIC_API_BASE_URL=https://<BACKEND_PUBLIC_URL>
NEXT_PUBLIC_EXCHANGE_FRONTEND_URL=https://vceapp.com
NEXT_PUBLIC_BANK_FRONTEND_URL=https://bank.vceapp.com
NEXT_SERVER_ACTION_ALLOWED_ORIGINS=https://vceapp.com,https://bank.vceapp.com
